@tailwind base;
@tailwind components;
@tailwind utilities;

.pie {
  width: 300px;
  background: white;
  border-radius: 50%;
}

.pie circle {
  fill: none;
  stroke: gold;
  stroke-width: 32;
}

*[aria-label]:hover:after {
  opacity: 1;
  content: attr(aria-label);
  padding: 4px 8px;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 20;
  background-color: gray;
  border-radius: 10px;
  transition-delay: 0.5s;
}
*[aria-label]:after {
  opacity: 0;
}

.animation-drop-open {
  animation-duration: 0.1s;
  animation-name: animationDropDown;
  animation-timing-function: ease-out;
}

@keyframes animationDropDown {
  from {
    transform: translateY(-2%);
    opacity: 0.8;
  }

  to {
    transform: translateY(0%);
    opacity: 1;
    max-height: 200px;
  }
}

.animation-drop-close {
  animation-duration: 0.1s;
  animation-name: animationDropDownClose;
  visibility: hidden;
}

@keyframes animationDropDownClose {
  from {
    visibility: visible;
    opacity: 1;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}
