@tailwind base;
@tailwind components;
@tailwind utilities;

.pie {
  width: 300px;
  background: white;
  border-radius: 50%;
}

.pie circle {
  fill: none;
  stroke: gold;
  stroke-width: 32;
}

*[aria-label]:hover:after {
  opacity: 1;
  content: attr(aria-label);
  padding: 4px 8px;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 20;
  background-color: gray;
  border-radius: 10px;
  transition-delay: .5s;
}
*[aria-label]:after {
  opacity: 0;
}
